@import "tailwindcss";

@keyframes glitch-before {
  0% { clip-path: inset(80% 0 0 0); transform: translate(-2px, -2px); }
  10% { clip-path: inset(10% 0 85% 0); transform: translate(2px, 2px); }
  20% { clip-path: inset(40% 0 43% 0); transform: translate(-1px, 1px); }
  30% { clip-path: inset(80% 0 0 0); transform: translate(1px, -1px); }
  40%, 100% { clip-path: inset(0 0 0 0); transform: none; }
}

@keyframes glitch-after {
  0% { clip-path: inset(0 0 80% 0); transform: translate(2px, 2px); }
  10% { clip-path: inset(10% 0 85% 0); transform: translate(-2px, -2px); }
  20% { clip-path: inset(40% 0 43% 0); transform: translate(1px, 1px); }
  30% { clip-path: inset(80% 0 0 0); transform: translate(-1px, 1px); }
  40%, 100% { clip-path: inset(0 0 0 0); transform: none; }
}

.animate-glitch-before {
  animation: glitch-before var(--before-duration) infinite linear alternate-reverse;
}

.animate-glitch-after {
  animation: glitch-after var(--after-duration) infinite linear alternate-reverse;
}
